@import url("./index.css");

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--blue);
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar {
    /* display: flex; */
    padding: 0.5rem 0.5rem;
    /* justify-content: space-between; */
}
header .navbar a {
    margin-right: 0.2rem;
    font-size: small;
    padding: 0.5rem 0.5rem;
}
header .navbar #learning {
    color: var(--white);
}
header .navbar #training {
    color: var(--white);
}
header .navbar #career {
    color: var(--white);
}
header .navbar #learning:hover {
    background-color: transparent;
    cursor: pointer;
    font-weight: 1000;
    
}

header .navbar #archive:hover {
    background-color: transparent;
    cursor: pointer;
    font-weight: 1000;
    
}
header .navbar #career a:hover {
    background-color: transparent;
    cursor: pointer;
    font-weight: 1000;
    
}
header .navbar #logout a:hover {
    background-color: transparent;
    cursor: pointer;
    font-weight: 1000;
    
}
header .navbar .active {
    font-weight: 1000;
}






