@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url('https://fonts.cdnfonts.com/css/coolvetica-2');


* {
  font-family: 'Nunito', sans-serif;


  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.2s linear;
  outline: none;
  border: none;
  box-sizing: border-box;
}
:root {
  --blue: #252156;
  --blue2: #62a1db;
  --white: #ffffff;
  --text-grey: #7e7e7e;
  --black: #000000;
  --bg-input: #f5f5f5;
  --red1: #f17878;
  --border-grey: #d9d9d9;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}